astroplan==0.7
astropy-healpix==0.6
astropy==4.1
astroquery==0.4.3
astroscrappy==1.0.8
bokeh==2.3.3
ccdproc==2.0.1
cffi==1.14.6
h5py==3.1.0
html5lib==1.1
ipython==7.3.0
jedi==0.13.3
jinja2==3.0.1
lmfit==1.0.3
lxml==4.4.1
matplotlib==3.0.2
multidict==5.2.0
numexpr==2.8.1
numpy==1.19.5
conda-forge:numpy=1.19.*
pandas==1.1.5
pip==21.3.1
ptyprocess==0.6.0
py==1.10.0
pytest==6.2.5
python-dateutil==2.8.0
pytz==2018.9
pyvo==1.1
pywavelets==1.1.1
pyyaml==5.4.1
scikit-image==0.17.2
scikit-learn==0.24.2
specutils==1.7.0
